[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
User={{ redis_user }}
Group={{ redis_group }}
ExecStart=/usr/local/bin/redis-server /etc/redis/sentinel.conf
ExecStop=/usr/local/bin/redis-cli shutdown
Restart=always

[Install]
WantedBy=multi-user.target
